<div class="container">
  <% @groups.each do |group| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= group.id %> : <%= group.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> 그룹장 : <%= group.entries.first.user.email %> </h6>
        <p class="card-text"> <%= group.description %> </p>
        <a href="/group/show/<%= group.id %>" class="card-link">입장하기</a>
      </div>
    </div>
    <br>
  <% end %>
</div>