<div class="container">
  <div class="row">
    <div class="col">
      <h4>노트 리스트</h4>
    </div>
  </div>
  <% if @group.notes.empty? %>
  <br>
  <div class="row">
    <div class="col">
      <h5> 아직 만들어진 노트가 없어요!</h5>
    </div>
  </div>
  <% end %>
  <br>
  <% @group.notes.each do |note| %>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= note.id %> : <%= note.title %></h5>
        <p class="card-text"> <%= note.created_at %> </p>
        <a href="/group/<%= @group.id %>/notes/<%= note.id %>/show" class="card-link">노트 보기</a>
      </div>
    </div>
    <br>
  <% end unless @group.notes.empty? %>
  <a href="/group/<%= @group.id %>/notes/new_editor">새로 공유 노트 작성하기</a>
</div>
<br>