<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>그룹 <%= @group.name %> 의 스케줄</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        통계
        <br>
        <%= render '/group/analysis' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <a href="/group/<%= params[:id]%>/notes/list">공유 노트</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="schedule" class="jqs-demo mb-3"></div>
      </div>
    </div>
  </div>
</main>

<script>
  $(function () {
     $('#schedule').jqs({
      mode: 'read',
      hour: 24,
      days: 5,      
      periodDuration: 45, //60->40 30->20
      periodColors: [
        ['rgba(0, 0, 0, 0.2)', '#000', '#fff'],
        ['rgba(200, 0, 0, 0.2)', '#f00', '#000'],
        ['rgba(0, 200, 0, 0.2)', '#0f0', '#000'],
        ['rgba(0, 0, 200, 0.2)', '#00f', '#000']
      ],
      periodBackgroundColor: 'rgba(150, 0, 0, 0.25)',
      periodBorderColor: '#000',
      periodTextColor: '#fff',
      periodOptions: false,
      data: [
        <% @group.entries.each do |entry| %>
          <% entry.user.schedules.first.periods.each do |period| %>
            {
              day: <%= period.day %>,
              periods: [
                ["<%= period.start %>", "<%= period.end %>"],
              ]
            },
          <% end %>
        <% end %>
      ]
    });
  });
</script>
