<!DOCTYPE html>
<html>
  <head>
    <title>Meetupsheet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/jquery.schedule.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/jquery.schedule.js"></script>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark mb-3">
          <h1 class="navbar-brand mb-0">MeetUpSheet</h1>
      </nav>
    </header> 
    <%= yield %>
  </body>
</html>
